<!DOCTYPE html>
<html ng-app="meanAuthStarter">
<head>
	<meta charset="utf-8">
	<title>MEAN Auth</title>
	<base href="/">
	<link rel="stylesheet" type="text/css" href="styles.css">
	<link rel="stylesheet" type="text/css" href="/bower_components/bootstrap/dist/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="/bower_components/angular-toastr/dist/angular-toastr.min.css">

	<!-- JS DEPENDENCIES -->
	<script type="text/javascript" src="/bower_components/jquery/dist/jquery.min.js"></script>
	<script type="text/javascript" src="/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="/bower_components/angular/angular.js"></script>
	<script type="text/javascript" src="/bower_components/angular-ui-router/release/angular-ui-router.min.js"></script>
	<script type="text/javascript" src="/bower_components/angular-toastr/dist/angular-toastr.tpls.min.js"></script>
	<script type="text/javascript" src="/bower_components/angular-sanitize/angular-sanitize.min.js"></script>
	<script type="text/javascript" src="/bower_components/satellizer/dist/satellizer.min.js"></script>



	<!-- CUSTOM JS SCRIPTS -->
	<script type="text/javascript" src="app/main.js"></script>
	<script type="text/javascript" src="app/app.routes.js"></script>
	<script type="text/javascript" src="app/nav/nav.controller.js"></script>
	<!-- <script type="text/javascript" src="app/home/home.controller.js"></script> -->
	<script type="text/javascript" src="app/auth/signup/signup.controller.js"></script>
	<script type="text/javascript" src="app/auth/login/login.controller.js"></script>
	<script type="text/javascript" src="app/auth/logout/logout.controller.js"></script>
	<script type="text/javascript" src="app/profile/profile.service.js"></script>
	<script type="text/javascript" src="app/profile/profile.controller.js"></script>

</head>
<body>

	<div ng-controller="navCtrl" class="navbar navbar-inverse navbar-static-top">
		<div class="navbar-header">
		    <a class="navbar-brand" ui-sref="home">Auth Starter Pack</a>
		</div>
		<ul ng-if="!isAuthenticated()" class="nav navbar-nav pull-right">
		    <li><a ui-sref="login">Login</a></li>
		    <li><a ui-sref="signup">Sign up</a></li>
		</ul>
		<ul ng-if="isAuthenticated()" class="nav navbar-nav pull-right">
			<li><a ui-sref="profile">Profile</a></li>
		    <li><a ui-sref="logout">Logout</a></li>
		</ul>
	</div>

	<div class="content">
	    <div ui-view></div>
	</div>
	
</body>
</html>