<div class="jumbotron container">
    <form ng-submit="user.onSubmit()">
        <div class="form-group">
            <label for="name">Email</label>
            <input type="text" class="form-control" id="name" placeholder="Email" ng-model="user.details.email">
        </div>
        <div class="form-group">
            <label for="password">Password</label>
            <input type="password" class="form-control" id="password" placeholder="Password" ng-model="user.details.password">
        </div>
        <button type="submit" class="btn btn-default">Login</button>
    </form>
</div>