<div class="jumbotron container">
    <div class="row">
        <div class="col-md-7">
            <h2>Sign up</h2>
            <form method="post" role="form">
                <div class="form-group">
                    <input type="text" class="form-control" id="username" ng-model="user.firstName" placeholder="Username">
                </div>
                <div class="form-group">
                    <input type="text" class="form-control" id="username" ng-model="user.lastName" placeholder="Username">
                </div>
                <div class="form-group">
                    <input type="text" class="form-control" id="extra" ng-model="user.email" placeholder="Email">
                </div>
                <div class="form-group">
                    <input type="password" class="form-control" id="password" ng-model="user.password" placeholder="Password">
                </div>
                <!-- <div class="form-group">
                    <input type="password" class="form-control" id="password" ng-model="user.password" placeholder="Confirm Password">
                </div> -->
                
                <button type="submit" class="btn btn-default" ng-click="signup()">Submit</button>
            </form>
        </div>
    </div>
</div>